﻿@model ProductListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@foreach (var product in Model.Products) {
    <partial name="ProductSummaryPartial" model="@product"/>
}

<div 
    page-model="@Model.PagingInfo" 
    page-action="List"
    page-url-category="@Model.CurrentCategory"
    page-classes-enabled="true"
    page-class="btn"
    page-class-normal="btn-secondary"
    page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>