﻿@model CartViewModel

<div class="">
    @if(Model.Comodities.Any()) {
    <small class="navbar-text">
        <b>Your cart: </b>
        @Model.Comodities.Sum(x => x.Quantity) item(s)
        @Model.TotalValue.ToString("c")
    </small>
    }
    <a class="btn btn-sm btn-secondary navbar-brand"
       asp-controller="Cart" asp-action="Index" sp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>